include _global-vars

doctype html
html
  head
    include partial/_404-500
  body
    .notice
      .img404
        b 404
      .text Sorry, Page Not Found
      button(onclick="history.back(-1)") Back

